/*General*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    font-size: 12px;
    line-height: 1.3;
    background-image: url(https://assets-base.s3.amazonaws.com/img/rubies/baas/contact_us.svg);
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    min-height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #90A4AE;*/
    background: #BA271B;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #BA271B;
}

.text-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-header{
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    text-align: center;
    color: #BA271B;
}
.section-padding{}
.text-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*General END*/
/*AppHeader*/
.app-header{
    background-color: transparent;
    margin-bottom: 4vh;
}
.app-header .navbar{
    padding: 25px 0;
    background-color: transparent !important;
}
.app-header .navbar-brand{}
.app-header .logo img{
    height: 45px;
}
.app-header .navbar-toggler{
    font-size: 22px;
    color: #BA271B;
    border: none;
    padding: 0;
    outline: none;
}
.app-header .hamburger-menu{}
.app-header .hamburger-menu svg{height: 45px;width: 45px;}
.app-header .navbar-toggler .navbar-toggler-icon{}
.app-header .navbar-collapse{}
.app-header .navbar-nav{
    margin-left: 7%;
}
.app-header .nav-item{
    padding: 5px 0 !important;
    margin-left: 10px;
}
.app-header .nav-link{
    color: #4A6C6F !important;
    padding: 0 30px !important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.app-header .nav-link{
    padding: 10px 15px !important;
    transition: .3s ease-in-out all;
}
.app-header .nav-link.active{
    color: #BA271B !important;
    border-bottom: 2px solid #BA271B;
}
.app-header .nav-link:focus, .app-header .nav-link:hover {
    color: #BA271B !important;
}
.app-header .app-header-btn{
    background: #f1f4f7;
    margin-left: 30px;
    color: #BA271B;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 24px;
    transition: all ease-in-out .3s;
    border: 1px solid #BA271B;
}

.app-header .app-header-btn:hover{
    background-color: #f7dcdb;
}
.app-header .app-header-btn2:hover{
    background-color: #f7dcdb;
}

.app-header .app-header-btn.alt, .app-btn{
    background: #BA271B;
    margin-left: 25px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 30px;
    transition: all ease-in-out .3s;
    border: 1px solid #BA271B;
}
.app-header .app-header-btn.alt:hover, .app-btn:hover{
    color: #f7dcdb;
}
.app-header .app-header-btn.alt span{
    color: inherit;
}
.app-header .app-header-btn.alt svg{
    height: 22px;
}
/*AppHeader END*/
.app-layout{
    overflow-x: hidden;
}
.landing-page{
    padding: 0 6%;
    margin-bottom: 0;
    overflow-x: hidden;
}
.landing-page.is-home-page{
    height: 90vh;
}
.other-page{
    background-color: #BA271B;
    background-size: cover;
    height: 40vh;
    padding: 0 8%;
}
.page-title {
    margin-top: 10vh;
    color: #f7dcdb;
}
.page-title h1{
    font-size: 40px;
    line-height: 44px;
    font-weight: 800;
    color: #ffffff;
}
.page-title p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}
.header-line{
    height: 85px;
    width: 100%;
}
.rubies-transparent-logo{
    height: 40px;
    margin: -120px 0 0 110px;
}
.logo-text{
    font-weight: 700;
    color: #ffffff;
    font-family: cursive;
    margin: -95px 0 0 160px;
}
.menu{
    list-style-type: none;
    display: flex;
    margin: -50px 0 0 -85px;
}
.nav-item{
    font-size: 18px;
}
.nav-link{
    color: #ffffff;
}
a:hover {
    color: #BA271B;
    text-decoration: none;
}

.header-button{
    border-radius: 60px;
    padding: 3px 15px 5px 15px;
    font-size: 14px;
    color: #BA271B;
    margin-top: -5%;
    background-color: #ffffff;
    font-weight: 600;
    border: 2px solid #BA271B;
}
.signupbtn{
    display: flex;
    margin-top: -10%;
    margin-left: 14%;
}
.log-in{
    height: 16px;
    margin: -60px 0 0 210px;
}
.login-text{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    list-style: none;
    margin: -55px 0 0 200px;
}

.left-side{
    margin: 20vh 0 0;
}
.left-intro{
    font-weight: 900;
    color: #263238;
    font-size: 48px;
    line-height: 54px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}
.left-text{
    color: #838383;
    font-size: 20px;
    line-height: 26px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.landing-input{
    height: 50px;
    width: 60%;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 0;
    padding: 15px;
}
.landing-btn{
    background: #BA271B;
    margin-left: 1%;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
    padding: 15px 25px;
    min-width: 70px;
    transition: all ease-in-out .3s;
    border: 1px solid #BA271B;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    margin-top: 5px;
}
.right-side{
    margin: 5vh 0 0;
    text-align: left;
}
.landing-left-pic{
    width: 80%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
}
.review-page{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10vh 8% 14vh;
    position: relative;
    z-index: 0;
}
.review-left{
    margin: 0vh 0;
}
.object-pic1{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.review-right{
    margin: 22vh 0;
    padding-left: 6%;
}
.second-feature-section{

}
.review-right2{
    margin: 16vh 5vw;
}
.review-left2{
    margin: 20vh 0;
}
.review-right3{
    margin: 22vh 0 10vh 0;
    padding-left: 6%;
}
.review-left3{
    margin: 20vh 0 10vh 0;
}

.feature-head{
    color: #263238;
    font-size: 38px;
    font-weight: 800;
    line-height: 42px;
}

.feature-sub{
    color: #838383;
    font-size: 18px;
    line-height: 22px;
}

/*AppService*/
.financial-page{
    padding: 0 8%;
    overflow-x: hidden;
}
.service-feature-head{
    color: #263238;
    font-size: 38px;
    font-weight: 800;
    line-height: 42px;
    text-align: center;
}
.service-feature-sub {
    color: #838383;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.service-box{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    border-radius: 6px;
    text-align: center;
    padding: 30px 30px;
    margin-bottom: 20px;
    background-color: #f1f4f7;
}
.service-box .service-icon {}
.service-box .service-icon span{}
.service-box .service-icon span img{
    height: 150px;
}
.service-box .service-title{
    color: #222A41;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 0;
}
.service-box .service-sub{
    color: #222A41;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-box .service-text{
    color: #ba271d;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    height: 56px;
}
.service-box .service-text:hover,
.service-box .service-text:focus{}

.pricing-section{
    padding: 15vh 8%;
}
.service-feature-sub2{
    color: #222A41;
    font-size: 20px;
    line-height: 24px;text-align: center;
}
.blue-part{
    background-color: #2a3c3f;
    border-radius: 10px;
    padding: 6vh 7vw 8vh;
    background-image: url('https://assets-base.s3.amazonaws.com/img/rubies/baas/calc-bg.png');
    background-size: cover;
}
.pricing-blue{
    height: auto;
    width: 100%;
}
.bluebg{
    text-align: center;
}
.text-part{}
.text1{
    color: #80949d;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
    background-size: cover;
}
.text1:after{
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 20%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #596a73; /* This creates the border. Replace black with whatever color you want. */
}
.text2{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 0;
}
.text3{
    color: #8c9ea6;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 800;
}
.checkmark{
    display: inline-grid;
    padding: 0 0;
}

.checkmark svg{
    height: 14px;
    fill: none;
    margin-right: 3px;
}
.text4 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    line-height: 26px;
}
.t-text4{
    padding: 0 20px;
    font-size: 14px;
    color: #80949d;
    display: inline-block;
}

.text5{
    color: #80949d;
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
}
.calc{
    margin-top: -10px;
}
.qty{
    width: 100%;
    border-radius: 7px;
    border: 1px solid #516169;
    background-color: #314449;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 14px;
}
.dashed-div{
    border: 1px dashed  #516169;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
    padding: 20px 0;
    background-color: hsl(194, 20%, 21%);
}
.dashed-left{
    text-align: center;
    margin-top: 0;
    border-right: 1px dashed  #516169;
    margin-right: -15px;
    padding: 10px 0;
}
.dashed-title{
    font-size: 14px;
    line-height: 18px;
    font-weight: 800;
    color: #80949d;
    margin-bottom: 5px;
}
.dashed-sub{
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    margin-top: 0;
    color: #FFFFFF;
    margin-bottom: 0;
}
.dashed-right{
    text-align: center;
    margin-top: 0;
    padding: 10px 0;
}
.price-linkk{
    margin-top: 7%;
    text-align: center;
}
.price-link{
    color: #31485F;
    font-size: 20px;
    text-align: center;
    text-decoration:  #31485F;
}
/*AppService END*/

/*AppJoinUs*/
.join-us{
    padding: 8vh 8% 0;
}
.join-us .header{
    text-align: center;
}
.join-us .header .title{font-size: 36px;line-height: 40px;font-weight: 800;margin-bottom: 20px;color: #222A41;}
.join-us .header .sub{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.join-us .header button{
    font-size: 14px;
    padding: 12px 22px;
    border-radius: 8px;
    line-height: 18px;
    margin-left: 0;
    background-color: #BA271B;
    border: none;
}

.join-us .services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    margin-top: 6vh;
    margin-bottom: 6vh;
}
.join-us .service-box{
    text-align: left;
    border-radius: 6px;
}
.join-us .service-box .icon{
    margin-bottom: 2px;
}
.join-us .service-box .icon span{border-radius: 50%;height: 36px;width: 36px;color: #fff;font-size: 16px;line-height: 20px;font-weight: 800;padding: 8px 0;text-align: center;}
.join-us .service-box .icon.one span{
    background-color: #698CAC;
}
.join-us .service-box .icon.two span{
    background-color: #BA271B;
}
.join-us .service-box .icon.three span{
    background-color: #EF7840;
}
.join-us .service-box .icon span{}
.join-us .service-box .title{
    color: #222A41;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    margin-bottom: 8px;
}
.join-us .service-box .sub{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(34, 42, 65, .77);
}
.join-us .service-box .sub a{
    color: #ba271d;
}
/*AppJoinUs END*/

/*ProductStep*/

/*documentation css*/
.documentation-header{
    padding: 3% 0;
}
/* .form-group{
    position: relative;
    padding-left: 20%;
} */
.form-group .fas{
    position: absolute;
    top: 11px;
    padding: 9px 20px;
    color: #BA271B;
}
.form-control{
    width: 100%;
    padding: 0 5%;
    position: relative;
    background-color: rgba(214, 214, 214, 0.3);
    border: none;
}
.fas{}

.write-ups{
    padding: 0% 20%;
}
.write-ups .docu-title{
    color: #BA271B;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}
.write-ups .docu-text{
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 7%;
}
.documentation-table{
    padding: 0% 20%;
}
.mytable{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #fcf2f2;
    border-radius: 12px;
}
.mytable th{
    color: #0A0A0A;
    font-size: 16px;
    line-height: 20px;
    padding: 1%;
}
.mytable tr{
    background: #FFFFFF;
}
.mytable tr:nth-child(odd){
    background:#FFFFFF;
}
.mytable tr:nth-child(even){
    background: #fcf2f2;
}
.mytable td{
    line-height: 20px;
    font-size: 16px;
    padding: 2%;
}
.mytable .table-link{
    text-align: center;
}
.table-linkee{
    color: #BA271B;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.documentation-fund{
    padding: 7% 20%;
}
.documentation-fund .fund-title{
    color: #BA271B;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
}
.documentation-fund .fund-sub{
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
}
.documentation-fund .fund-text{
    font-size: 16px;
    line-height: 20px;
    margin-left: -3%;
}

.documentation-fund .fund-text:after{
    border-bottom: 1px solid #f0c1c1;
    content: "";
    display: block;
    width: 100%;
    padding-top: 3%;
    margin-left: -2%;
}
.banklist{
    padding: 0 20%;
    margin-top: -5%;
    margin-bottom: 11%;
}
.banklist .bank-text1{
    font-size: 22px;
    line-height: 26px;
    color: #F5A724;
    font-weight: 600;
}
.banklist .bank-text2{
    line-height: 24px;
    font-size: 20px;
    margin-left: 1%;
}
.banklist .banklist-display{
    width: 95%;
    height: 50px;
    font-size: 16px;
    padding: 0 5%;
    border: 1px solid #f0c1c1;
    background-color: #fdf7f7;
    border-radius: 5px;
}
.banklist .banklist-title{
    margin-top: 5%;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.banklist .banklist-sub{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.banklist .banklist-sub:after{
    border-bottom:  1px solid #f0c1c1;
    content: "";
    display: block;
    width: 98%;
    padding-top: 6px;
}
.banklist .banklist-row{
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;
}
.banklist .banklist-row-right{
    font-size: 16px;
    line-height: 20px;
    margin-left: 10%;
}
.banklist .banklist-row-right2{
    font-size: 16px;
    line-height: 20px;
    margin-left: 25%;
}
.banklist .banklist-text{
    font-size: 16px;
    font-weight: 600;
}
.banklist .banklist-text2:after{
    border-bottom:  1px solid #f0c1c1;
    content: "";
    display: block;
    width: 98%;
    padding-top: 6px;
}
.banklist .banklist-text2{
    font-size: 16px;
    margin-left: 2%;
    color: grey;
    line-height: 20px;
}
.banklist .banklist-display2{
    width: 95%;
    height: 50px;
    font-size: 16px;
    padding: 6%;
    color: #16C13E;
    border: 1px solid #f0c1c1;
    background-color: #fdf7f7;
    border-radius: 5px;
}
.banklist .banklist-example{
    margin-top: 4%;
}
.banklist .example-text{line-height: 22px;font-size: 18px;font-weight: 600;}
.banklist .example-text2{
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-left: 60%;
}
.outer-div{
    border: 1px solid #f0c1c1;
    padding: 4%;
    width: 95%;
    border-radius: 5px;
}
.banklist .outer-div-list{
    margin-left: 10px;
    list-style: none;
}
.banklist .outer-div-list2{
    margin-left: 10px;
    list-style: none;
    color:  #f0c1c1;
}
.banklist .example-code{
    width: 100%;
    height: 40vh;
    font-size: 16px;
    padding: 4%;
    color: #16C13E;
    border: 0;
    background-color: #31485F;
    border-radius: 5px;
    position: relative;
}
.banklist .outer-div-text{
    display: inline-flex;
    text-decoration: none;
    margin: -2px -7%;
}
.banklist .code-link{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #000000;
}
.banklist .code-p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #da6767;
}
.banklist.code-link{
    padding: 10px 15px !important;
    transition: .3s ease-in-out all;
}
.banklist .code-link.active{
    color: #BA271B !important;
    border-bottom: 2px solid #BA271B;
}
.banklist .code-link:focus, .app-header .code-link:hover {
    color: #BA271B !important;
}
.more{
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    position: absolute;
    margin: -4% 22vw;
    border: 0;
    background-color: rgba(225,225,225,0.4);
    color: #FFFFFF;
}
/*documentation css END*/

/*contact-us css */
.contact-us {
    padding: 0 8% 8vh;
}
.contact-us-header{
    padding: 0 6%;
}
.contact-us-landing{
    background-color: #fcf2f2;
    height: 100vh;
    padding: 9% 11%;
}
.contact-us-landing .contact-title{
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #222A41;
}
.contact-us-landing .contact-sub{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.contact-service-box{
    text-align: center;
    background-color: #ffffff;
    padding: 8% 15%;
    margin-top: 15%;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.contact-service-box .contact-service-icon{
    margin-top: -22%;
}
.contact-service-box .contact-service-pic{
    height: 70px;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 3% 5%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.contact-service-box .contact-service-title{
    font-size: 24px;
    line-height: 28px;
}
.contact-service-box .contact-service-sub{
    font-size: 16px;
    line-height: 20px;
}
.contact-service-box .contact-service-link{
    font-size: 14px;
    color: #BA271B;
}
.contact-service-box .contact-service-link .right-arrow{
    height: 15px;
    margin-left: 3%;
}

.contact-us-contact{}
.contact-us-contact .left-side{
    padding: 0% 12%;
}
.contact-us-contact .left-side-title{
    font-size: 72px;
    line-height: 76px;
    font-weight: 700;
    color:#222A41;
}
.contact-us-contact .left-side-pic{
    width: 100%;
    height: auto;
    margin: 6% 0;
}

.whole-form{
    border: 1px solid #f6d5d5;
    padding: 8% 8%;
    margin: 23% 14%;
    border-radius: 6px;
}
.form-texts{}
.form-img{height: 40px;margin-bottom: 7%;}
.form-text{
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-left: 3%;
}
.name-form{
    width: 44%;
    height: 40px;
    padding-left: 1%;
    border-radius: 6px;
    border: 1px solid #f6d5d5;
}
.number-form{
    width: 44%;
    height: 40px;
    padding-left: 1%;
    border-radius: 6px;
    margin-left: 10%;
    border: 1px solid #f6d5d5;
}
.email-form{
    width: 100%;
    height: 40px;
    margin-top: 6%;
    padding-left: 1%;
    border-radius: 6px;
    border: 1px solid #f6d5d5;
}
.text-form{
    width: 100%;
    height: 100px;
    margin-top: 6%;
    padding-left: 1%;
    border-radius: 6px;
    border: 1px solid #f6d5d5;
}
.button-form{
    width: 100%;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    margin-top: 6%;
    background-color: #BA271B;
    color: #FFFFFF;
    border: 0;
    font-size: 16px;
}
.form-bottom-text{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    margin-top: 7%;
}
.form-bottom-link{
    color: #D14130;
}
/*contact-us css END*/
.bottom{
    text-align: center;
    margin-top: 4vh;
}
.rubies-logo{
    height: 45px;
    margin-top: -15px;
}

.app-body{
    background-image: url(https://assets-base.s3.amazonaws.com/img/rubies/junior/other-page-bg.png);
    background-size: cover;
}
.app-body .contain{
    margin: 0 8%;
}
.app-body h2{
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    font-family: inherit;
    color: #4C2547;
}
.app-body h3{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    font-family: inherit;
    color: #4C2547;
}
.app-body h4{
    font-size: 22px;
    line-height: 48px;
    font-weight: 600;
    color: #4C2547;
}
.app-body p{
    color: rgba(4, 5, 3, .6);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.app-body li{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.app-body .side-bar{
    background-color: rgba(76, 38, 70, .39) !important;
    border-radius: 20px;
}
.app-body .side-bar ol{}
.app-body .side-bar ol li{}
.app-body .side-bar ol li a{}
.app-body .side-bar ol li a:hover{}

.app-btn{
    border: 1px solid #fff;
    border-radius: 14px;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    padding: 15px 20px;
    transition: all ease-in-out .4s;
}
.app-btn.alt{
    margin-left: 15px;
    background-color: #ffffff;
    color: #ca5152;
}
.app-btn:hover{
    color: #fff;
    background-color: #9D2928;
    border: 1px solid #9D2928;
}
.app-btn.purple{
    background-color: #ffffff;
    color: #4c2646;
    border: 1px solid #4c2646;
}
.app-btn.alt.purple{
    color: #FFFFFF;
    background-color: #4c2646;
}


/*AppPricing*/
.app-pricing .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #ccc;
}

.app-pricing .nav-tabs .nav-link.active {
    color: #495057;
    /*background-color:#007bff !important;*/
    border-color: transparent !important;
}
.app-pricing .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.app-pricing .tab-content>.active {
    display: block;
    /*background: #007bff;*/
    min-height: 165px;
}
.app-pricing .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}


.app-pricing {
    margin-top: 50px;
}
.app-pricing .nav-pills{
    width: 100%;
    padding: 20px 20px;
}
.app-pricing .nav-pills .nav-link{
    padding: 20px 20px;
    position: relative;
    transition: .2s ease-in-out all;
}
.app-pricing .nav-pills .nav-link.active{
    background-color: #f9dedd;
}
.app-pricing .nav-link .title{
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 22px;
}
.app-pricing .nav-link.active .title{
    color: #BA271B;
}
.app-pricing .nav-link .sub{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    color: #253337;
}
.app-pricing .nav-link.active .sub{
    color: #BA271B;
}
.app-pricing .nav-link .current{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: none;
    background-color: #BA271B;
    position: absolute;
    right: 20px;
    top: 40%;
    transition: ease-in-out all .2s;
}
.app-pricing .nav-link.active .current{
    display: inline-block;
}
.app-pricing .tab-content{background-color: #BA271B;color: #ffffff;border-radius: 12px !important;text-align: center;padding: 50px !important;}
.pricing-tab{}
.pricing-tab .main{
    margin-bottom: 2px;
    font-size: 60px;
    line-height: 64px;
    font-weight: 800;
}
.pricing-tab .main-sub{
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
}
.pricing-tab .title{
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 3px;
}
.pricing-tab .sub{
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #EEEEEE;
}

/*AppPricing End*/

/*AppFooter */
.app-footer{
    padding: 8vh 8% 4vh 8%;
}
.app-footer .top{}
.app-footer .title{
    color: #000000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.app-footer .top ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-footer .top ul li{
    padding: 5px 0;
}
.app-footer .top ul li a{
    padding: 5px 0;
    color: #555555;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.app-footer .top ul li a:hover{
    color: #ba271d;
}
.app-footer .socials{}
.app-footer .socials span{
    margin-bottom: 10px;
    display: inline-block;
}
.app-footer .socials a{
    transition: all ease-in-out .3s;
    margin-right: 8px;
}
.app-footer .socials a:hover{}
.app-footer .socials a svg{
    fill: #555555;
    height: 24px;
}
.app-footer .socials a:hover svg{
    fill: #ba271d;
}
.app-footer .app-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.app-footer .app-links a{
    margin-bottom: 10px;
}
.app-footer .app-links a img{
    height: 36px;
}
.app-footer .bottom{
}
.app-footer .bottom p{
    margin-bottom: 10px;
    font-size: 12px;
    color: #555555;
    line-height: 16px;
}
.app-footer .bottom .foot-logo{
    height: 40px;
}
/*AppFooter End*/

/*ContactUs */
.redbutton {
    height: 40px;
    background-color:  rgb(186,39,27);
    border-color:  rgb(186,39,27);
    border-width: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight:600;
    color: white;
    line-height: 18px;
    transition: all ease-in-out .3s;

}

.redbutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}


.main .info {
    width: 50%;
    text-align: left;
}

.main .info .getintouch {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 10px;
    color: rgba(0,0,0,0.7);
}

.main .info .interested {
    font-size: 18px;
    line-height: 22px;
    width: 60%;
    text-align: left;
    color: rgba(0,0,0,0.5);
}

.main .contactform {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 30px 0;

}

.main .contactform form {
    margin: 5% 5%;
}

.main .contactform .formbutton button {
    float: right;
    width: 168px;
}

/*.submit {*/
/*    outline: none;*/
/*    width: 168px;*/
/*    height: 40px;*/
/*    background-color:  rgb(186,39,27);*/
/*    border-color:  rgb(186,39,27);*/
/*    border-width: 0;*/
/*    border-radius: 5px;*/
/*    font-size: 14px;*/
/*    font-weight:600;*/
/*    color: white;*/
/*    line-height: 18px;*/
/*    transition: all ease-in-out .3s;*/
/*    float: right;*/
/*}*/

@media screen and (max-width: 1124px) {

    .main {
        flex-direction: column;
        margin-top: 30px;
    }

    .main .info {
        width: 100%;
    }

    .main .contactform {
        width: 100%;
    }

    .navbar div:not(:first-child):not(:last-child) {display: none;}
    .navbar a.icon {
        display: flex;
    }


    .main .info .interested {
        width: 100%;
    }

    .main .info img{
        width: 320px;
        height: 280px;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 1124px) {

    body {
        padding: 0 5% 5%;
    }

    .navbar.responsive{
        /*align-items: center;*/
        align-content: space-evenly;
    }

    .navbar.responsive .businesslogin{
        margin-bottom: 20px;
    }

    .main img{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navbar.responsive div:not(:first-child):not(:last-child) {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;;
        border-bottom: none;
        line-height: 50px;
        margin: 0;
        justify-content: center;

    }


    .navbar.responsive .businesslogin {
        padding-bottom: 20px;

    }

    .navbar.responsive .getstarted {
        padding-bottom: 20px;

    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 10%;
        float: right;
    }
}
/*ContactUs End*/

/*PricingPage*/
.price-title{
    color: #333333;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 4px;
    font-weight: 800;
    text-align: center;
}
.price-sub{
    color: #333333;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.bg {
    background-image: none;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.card-parent{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.card-1{
    flex: 1 0 50%;
    /*background-color: red;*/
}

.card-1-content{
    background-color: rgb(237 240 242);
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding:55px 0;
}

.card-1-content .title {
    font-size: 25px;
    line-height: 29px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    padding-bottom: 15px;
    text-align: center;
}

.card-2 {
    /*background-color: #266020;*/
    flex: 1 0 50%;
}

.sub-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding:15px 0;
}

.sub-content .sub-content-text{
    flex: 1 0 25%;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    font-weight: 600;

}

.sub-content .sub-content-image{
    flex: 1 0 25%;
}

.sub-content .sub-content-image img{
    margin-top: 1px;
    float: right;
}

.card-2-content{
    width: 100%;
    border: 1px solid rgb(227 184 183);
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    float: right;
    padding: 20px 20px;
}

.card-2-content .card-img{
    /*background-color: yellow;*/
    flex: 1 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2-content .card-img .card-img-container{
    height: 50px;
    width: 50px;
    border-radius: 28px;
    background-color: rgba(197,80,71,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-2-content .card-text{
    /*background-color: orangered;*/
    flex: 1 0 35%;
}

.card-2-content .card-value{
    flex: 1 0 50%;
    /*background-color: #00ccff;*/
}

.card-2-content .card-text .title{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    line-height: 18px;
    margin-bottom: 3px;
}

.card-2-content .card-text .sub-title p{
    font-size: 12px;
    font-weight: 600;
    color: rgba(197,80,71,1);
    line-height: 16px;
    background-color: rgba(197,80,71,0.1);
    text-align: center;
    padding: 6px 7px;
    border-radius: 10px;
    margin-bottom: 0;
}

.card-2-content .card-value{
    display: flex;
    justify-items: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    color: rgb(197,80,71);
    margin-top: 0;
    padding-top: 5px;
}
.card-2-content .card-value p{margin-bottom: 0;}
.section3{
    background-color: #f1f4f7;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 70px;
    text-align: center;
}

.section3 .title {
    color: rgb(51,51,51);
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;
}

.section3 .sub-title {
    color: rgba(0,0,0,0.49);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.section4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f1f4f7;
}

.section4 > div{
    display: flex;
    align-items: center;
}

.section5{
    width: 100%;
    height: 180px;
    background-color: rgb(197,80,71);
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url("https://assets-base.s3.amazonaws.com/img/rubies/baas/info-bg.svg");
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section5 .section-text{
    flex: 1 0 60%;
    padding-left: 90px;
}

.section5 .section-text .section-text-1{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 10px;
}

.section5 .section-text .section-text-2{
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;

}

.section5 .button{
    flex: 1 0 40%;
}

.section5 .button button{
    float: right;
    margin-right: 90px;
    height: 40px;
    background-color: white;
    border-color:  rgb(186,39,27);
    border-width: 1px;
    width: 164px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(186,39,27);
    line-height: 18px;
    transition: all ease-in-out .3s;
    outline: 0;
}

@media screen and (max-width: 1124px) {

    .bg{
        margin-left: 0;
        margin-right: 0;
    }
    .card-parent{
        flex-direction: column;
    }

    .card-2-content{
        margin-top: 30px;
        float: none;
    }

    .section4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section4 > div{
        margin-bottom: 30px;
    }

    .section5 .section-text{
        padding-left: 50px;
    }

    .section5 .button button{
        margin-right: 50px;
    }


}

@media screen and (max-width: 550px) {

    .card-2-content {

    }

    .card-2-content .card-img .card-img-container{
        width: 40px;
        height: 40px;
    }

    .card-2-content .card-img .card-img-container img{
        width: 20px;
        height: 20px;
    }


    .card-2-content .card-text .title{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .card-2-content .card-text .sub-title p{
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        width: 85%;
    }

    .card-2-content .card-value{
        padding-right: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .section5 .section-text{
        padding-left: 30px;
    }

    .section5 .section-text .section-text-1{
        font-weight: 600;
        font-size: 18px;

    }

    .section5 .section-text .section-text-2{
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
    }

    .section5 .button button{
        margin-right: 30px;
        width: 120px;
        font-size: 12px;
        line-height: 16px;
    }




}

@media screen and (max-width: 500px) {

    .card-2-content {

    }

    .card-2-content .card-img .card-img-container{
        width: 40px;
        height: 40px;
    }

    .card-2-content .card-img .card-img-container img{
        width: 20px;
        height: 20px;
    }


    .card-2-content .card-text .title{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    .card-2-content .card-text .sub-title p{
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        width: 85%;
    }

    .card-2-content .card-value{
        padding-right: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .section5 .section-text{
        padding-left: 30px;
    }

    .section5 .section-text .section-text-1{
        font-weight: 600;
        font-size: 18px;

    }

    .section5 .section-text .section-text-2{
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
    }

    .section5 .button button{
        margin-right: 30px;
        width: 120px;
        font-size: 12px;
        line-height: 16px;
    }




}

@media screen and (max-width: 400px) {

    .card-1-content .title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
    }

    .card-2-content .card-img .card-img-container{
        margin-left: 10px;
    }

    .card-2-content .card-text .title{
        font-size: 10px;
        font-weight: 300;
        line-height: 14px;
        margin-left: 10px;
    }

    .card-2-content .card-text .sub-title p{
        font-size: 8px;
        font-weight: 300;
        line-height: 12px;
        margin-left: 10px;
    }

    .card-2-content .card-value{
        padding-right: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    .section5 {
        flex-direction: column;
        text-align: center;
        height: 210px;
    }

    .section5 .section-text{
        padding: 10px;
    }

    .section5 .section-text .section-text-1{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding-top: 20px;

    }

    .section5 .section-text .section-text-2{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }

    .section5 .button button{
        margin-right: 0;
    }
}
/*PricingPage End*/

