/*General*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Mulish", sans-serif;
}

body {
    background-size: cover;
    background: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    margin: 0;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    min-height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #90A4AE;*/
    background: #ca0302;
    border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ca0302;
}
.text-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-header{}
.section-padding{}

::placeholder {
    opacity: 50%;
}
.bold{
    font-weight: 800;
}
p {
    font-size: 14px;
    line-height: 18px;
    color: #424242;
}

/*General END*/

/*AppForm*/
.app-form{
    padding: 0 6%;
}
.app-form .intro-img{
    margin-top: 10vh;
}
.app-form .intro-img img{width: 80%;height: auto;}
.app-form .intro{
    margin-top: 5vh;
}
.app-form .form-title{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
    color: #DD5F5F;
}
.app-form label {
    color: #424242;
    font-size: 12px !important;
    font-weight: 400 !important;
    z-index: +1;
    padding-bottom: 5px;
    background-color: transparent;
    font-family: 'Mulish', sans-serif !important;
}
.app-form input, .app-form select, .app-form textarea {
    border-radius: 5px !important;
    border: 1px solid #cccccc !important;
    font-size: 14px !important;
    line-height: 18px !important;
    z-index: -1;
    background-color: #ffffff !important;
    font-family: 'Mulish', sans-serif !important;
    padding: 10px 15px !important;
    outline: none;
}
.auth-form input:focus, .auth-form select:focus, .auth-form textarea:focus {
    border: 1px solid #ca5152 !important;
}
.app-form button, .app-btn{
    background-color: hsl(0, 54%, 94%) !important;
    font-size: 32px  !important;
    border-radius: 5px  !important;
    padding: 5px 30px  !important;
    color: #ca5152  !important;
    width: 100%  !important;
    margin: 15px 0 0 !important;
    text-align: center  !important;
    border: none !important;
    transition: all ease-in-out .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.app-form button:hover, .app-btn:hover{
    background-color: #ca5152 !important;
}
.app-form button span, .app-btn span {
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
}

.app-form button::before, .app-btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: #ca5152;
    opacity: 0;
}

.app-form button:hover span, .app-btn:hover span{
    color: #ffffff;
}

.app-form button:hover::before, .app-btn:hover::before{
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

.form-back-btn {position: absolute;top: 40px;}
.form-back-btn:hover {
}
.form-back-btn svg {
    fill: #959595;
    height: 18px;
}


/*select product*/
.app-form.products {}
.app-form .products .product{
    background-color: #FDF5F5;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.app-form .products .product .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.app-form .products .product .top .icon{}
.app-form .products .product .top .icon img{
    height: 40px;
}
.app-form .products .product .top .price{
    color: #DD5F5F;
    font-size: 24px;
    line-height: 28px;
    margin-top: 8px;
}
.app-form .products .product .title{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #606060;
    margin-bottom: 5px;
}
.app-form .products .product .sub{
    margin-bottom: 0;
    color: #606060;
    font-size: 12px;
    line-height: 16px;
}


/*AppForm END*/
/*AppHeader*/
.header {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin-bottom: 0;
}
.header img {
    height: 50px;
}

.app-header {display: flex;padding: 30px 20px 10px 20px;}
.app-header .menu {width: 40px;}
.app-header .back-button {}
.app-header .back-button:hover{}
.app-header .back-button svg{
    fill: #de5f5f;
    height: 18px;
    width: auto;
}
.app-header .back-button:hover svg{
    fill: #ca5152;
}
.app-header .nav {width: calc(100% - 40px);display: flex;justify-content: space-between;}
.app-header .nav .info {}
.app-header .nav .info .title {margin-bottom: 4px;margin-top: -5px;}
.app-header .nav .info .sub {font-size: 12px;line-height: 16px;color: #757575;margin-bottom: 0;}
.app-header .nav .info .sub .dropdown {margin-left: 10px;}
.app-header .nav .info .sub .dropdown svg {fill: #616161;height: 8px;opacity: .7;}
.app-header .nav .page-title {}
.app-header .nav .action {
}
.app-header .nav .action a {
}
.app-header .nav .action a svg {height: 20px;fill: #de5f5f;}
/*AppHeader END*/

/*AppFooter*/
.app-footer {
}
.app-footer p {
}
.app-footer p span {
    color: #dd5f5f;
}
/*AppFooter END*/

/*MobileSideMenu*/
.mobile-side-menu {
}
.mobile-side-menu .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.mobile-side-menu .menu-panel {
    overflow-y: auto;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    padding: 0;
    width: 290px;
}
/*MobileSideMenu END*/

/*AppSidebar*/
.app-sidebar {
}
.app-sidebar .top {padding: 50px 0 20px 0;border-bottom: 1px solid #FAE5E5;}
.app-sidebar .logo {margin-bottom: 0;padding: 0 20px;}
.app-sidebar .logo .pie {display: inline-block;}
.app-sidebar .logo .pie img {
    height: 28px;
    margin-top: -7px;
}
.app-sidebar .logo .text {
    color: #707070;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 5px;
    display: inline-block;
}
.app-sidebar .info {
}
.app-sidebar .info .title {margin-top: 60px;margin-bottom: 0;padding: 0 20px;font-size: 14px;line-height: 18px;}
.app-sidebar .info .sub {padding: 0 20px;font-size: 12px;line-height: 16px;margin-bottom: 0;color: #969696;}

.app-sidebar .menu {padding: 10px 20px;}
.app-sidebar .menu .nav {
}
.app-sidebar .menu .nav-item {
}
.app-sidebar .menu .nav-link {padding: 14px 0;color: #969696;}
.app-sidebar .menu .nav-link:hover,
.app-sidebar .menu .nav-link:focus {
}
.app-sidebar .menu .nav-link.active {color: #DD5F5F;}
.app-sidebar .menu .nav-link svg {height: 20px;width: 20px;fill: #DD5F5F;margin-right: 5px;}
.app-sidebar .menu .nav-link.active svg {}
.app-sidebar .menu .nav-link:hover svg,
.app-sidebar .menu .nav-link:focus svg {
}

.app-sidebar .action {
}
.app-sidebar .action .nav-link {
}
.app-sidebar .action .nav-link:hover,
.app-sidebar .action .nav-link:focus {
}
.app-sidebar .action .nav-link svg {height: 20px;}
/*AppSidebar END*/

/*InfoTray*/
.info-tray{
    padding: 15px 4px;
}
/*InfoTray END*/

/*AccountRecord*/
.account-record {display: flex;position: relative;padding: 20px 20px;}
.account-record.alt{
    border: 1px solid rgba(221, 95, 95, .2);
    padding: 10px 10px;
}
.account-record .avatar {width: 60px;height: 60px;border-radius: 50%;background-color: white;border: 1px solid #DD5F5F;color: #DD5F5F;font-size: 24px;line-height: 24px;padding: 15px 0;text-align: center;}
.account-record .info {padding: 10px;width: calc(100% - 60px);position: relative;}
.account-record .title {
    font-size: 16px;line-height: 20px;margin-bottom: 2px;}
.account-record .sub {margin-bottom: 0;font-size: 12px;line-height: 15px;}
.account-record .ico {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
}
.account-record .ico svg {
    height: 16px;
    fill: #dd5f5f;
}
/*AccountRecord END*/
