/*General*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}

body {
    background-color: hsl(240deg 16% 94%);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
    min-height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: #90A4AE;*/
    background: #52527a;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #52527a;
}

.text-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-header{
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    text-align: center;
    color: #52527a;
}
.section-padding{}
.text-ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Notification Modal*/
.notification-modal {
}
.notification-modal.-notification-success {
    background-color: #d6f3e9;
    border: 1px solid #c6eee0;
    color: #1b654a;
}
.notification-modal.-notification-warning {
    color: #7d5e28;
    background-color: #fcf0db;
    border: 1px solid #fbeacd;
}
.notification-modal.-notification-error {
    color: #7f3737;
    background-color: #fde1e1;
}
.notification-modal .vodal-dialog {
    border-radius: 12px !important;
    padding: 0 !important;
}
.notification-modal .notification-modal-inner {
    padding: 20px;
}
.notification-modal .notification-modal-title {
    margin-top: 10px;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #333333;
}
.notification-modal .notification-modal-message {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
    color: #555555;
}

.notification-modal .notification-modal-actions {
}
.notification-modal .notification-modal-action {}
.notification-modal .notification-modal-action button {
    appearance: none;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin: 0;
    color: white;
    min-width: 0;
    width: auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px;
    border: none;
}
.notification-modal .notification-modal-action button.only {width: 100%;background-color: #52527a !important;}
.notification-modal .notification-modal-action button.twin {width: 100%;}
.notification-modal .notification-modal-action button.twin.btn-danger {
}
.notification-modal .notification-modal-action button.twin.btn-success {

}
/*Notification Modal END*/

/*AppButton*/
.app-btn {
    background-color: #52527a;
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 4px;
    padding: 10px 20px;
    transition: all ease-in-out .3s;
    border: 1px solid #52527a;
}
.app-btn:hover{
    background-color: #FFFFFF;
    color: #52527a;
}

/*AppButton END*/


/*General END*/
/*AppHeader*/
.app-header{
    background-color: transparent;
    margin-bottom: 4vh;
    padding: 0 4%;
}
.app-header .navbar{
    padding: 25px 0;
    background-color: transparent !important;
    position: relative;
}
.app-header .navbar-brand{}
.app-header .logo{
    margin-right: 10px;
}
.app-header .logo img{
    height: 40px;
}
.app-header .navbar-brand span{
    color: #a3a3c2;
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.app-header .navbar-toggler{
    font-size: 22px;
    color: #52527a;
    border: none;
    padding: 0;
    outline: none;
}
.app-header .hamburger-menu{}
.app-header .hamburger-menu svg{height: 45px;width: 45px;}
.app-header .navbar-toggler .navbar-toggler-icon{}
.app-header .navbar-collapse{
    padding: 20px 10px;
}
.app-header .navbar-nav{
    margin-left: 7%;
}
.app-header .nav-item{
    padding: 5px 0 !important;
    margin-left: 10px;
}
.app-header .nav-link{
    color: #6d6d6d !important;
    padding: 0 30px !important;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.app-header .nav-link{
    padding: 10px 15px !important;
    transition: .3s ease-in-out all;
}
.app-header .nav-link.active{
    color: #52527a !important;
    border-bottom: 2px solid #52527a;
}
.app-header .nav-link:focus, .app-header .nav-link:hover {
    color: #52527a !important;
}
.app-header .app-header-btn{
    background: #ffffff;
    margin-left: 5px;
    color: #52527a;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 6px 20px;
    transition: all ease-in-out .3s;
    border: 1px solid #52527a;
    margin-bottom: 10px;
}

.app-header .app-header-btn:hover{
    background-color: #52527a;
    color: #ffffff;
}
.app-header .app-header-btn2:hover{
    background-color: #f7dcdb;
}


/*AppHeader END*/
.app-layout{
    overflow-x: hidden;
    padding: 0 8%;
}
.app-layout .hold{}

/*Body*/
.home{
    padding: 0 4%;
}
.title{
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: #52527a;
}
.sub{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #616161;
}

.app-card{
    background-color: #ffffff;
    border-radius: 6px;
    padding: 20px;
    min-height: 250px;
    margin-top: 60px;
}
.app-card .title{
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    color: #52527a;
    font-weight: 400;
}

/*AppChat*/
.app-chat{}

/*Body End*/


/*AppFooter */
.app-footer{
    padding: 10vh 4% 4vh 4%;
    text-align: center;
}
.app-footer {}
.app-footer p{
    color: #a3a3c2;
    font-size: 14px;
    line-height: 18px;
}
.app-footer .foot-logo{
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    color: #52527a;
}
.app-footer .foot-logo img{
    height: 40px;
}
/*AppFooter End*/

